.file-wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all ease-in-out .3s;
  flex: 1;
}
.file-wrapper:hover{
  text-decoration: underline;
  color: #000;
}
.file-name{
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.file-createtime{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
