.hing-div__intro__wrapper {
  @apply max-w-[37.5rem] ml-auto mr-auto;
}

.hing-div__content {
  @apply w-[100%];
  border-bottom: 1px solid #e3e3e3;
}
.hing-div__content ul{
  @apply pl-[1.125rem];
}
.hing-div__content ul li {
  @apply text-[0.875rem];
}
.hing-div__content ul li a{
  color: #58B2DC;
}

.hing-div__experience {
  @apply w-[100%] py-0 px-[1.25rem] box-border;
}

.hing-div__skills {
  display: block;
}

.hing-div__skills::after {
  clear: both;
  display: table;
  content: '';
  visibility: hidden;
  padding-bottom: 10px;
}

.hing-span__skill {
  @apply float-left mb-[0.25rem] mr-[0.625rem] border-r-[0.25rem] py-[0.125rem] px-[0.25rem];
  border: 1px solid transparent;
  box-shadow: 1px 1px 1px #e3e3e3;
  background-color: #5DAC81;
  color: #fff;
}
