.hing-header__wrapper {
  @apply flex flex-col justify-center items-center;
  position: relative;
  width: 100%;
  background-color: #5DAC81;
  padding: 10px 0;
  box-sizing: border-box;
}

.hing-img__avatar {
  border-radius: 50%;
}

.hing-div__intro {
  @apply mt-[10px];
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hing-dl__group {
  margin: 0;
  width: 100%;
}

.hing-dd__item {
  text-align: center;
  font-size: 14px;
  color: #FCFAF2;
  margin: 0;
}

.hing-dd__item a {
  text-decoration: underline;
  color: #fff;
}
