.menu-wrapper{
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0 50px
}
.menu-link__wrapper{
  display: flex;
  align-items: center;
}
.menu-link {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  color: #999;
  transition: all ease-in-out .3s;
}
.menu-link:hover{
  color: #58B2DC;
}
.menu-link-active{
  color: #58B2DC;
}
.italic{
  font-style: normal;
  color: #999;
}
