@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700,800,900&subset=latin-ext');
/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

html, body{
  height: 100%;
  font-size: 16px;
}
body {
  font-family: 'Quicksand';
  margin: 0;
}
